<h4>Hello Admin,</h4>

<p>Some user with following information has registered on you site. Below are the detailed information about the user.</p>

<p><b>Name:</b> <%= "#{@user.first_name} #{@user.last_name}" %></p>
<p><b>Email:</b> <%= @user.email %></p>
<p><b>Role:</b> <%= @user.role %></p>

<p>Team HandiCraft Studios</p>