<div class="causesBox">
  <h3>ABOUT</h3>
  <p>Sunshinestorefl is a marketplace to "Discover Unique Products" including Handmade, Vintage, Ethnic, Organic,IT and Natural products. 
<br><br>
Sunshinestorefl is a beautiful assortment of diversity reflected in our Clothing, Food, Lifestyle, Language, Music, Books and other online digital art, etc. This diversity is so rich and diverse that an attempt to capture it on a single platform was never made. Sunshinestorefl is that sincere attempt by bunch of young insane guys and girls who think this is possible now with the Internet. These are the modern internet entrepreneurs.
<br><br>
Sunshinestorefl uses a marketplace model to capture the regional variations of these entrepreneurs. We connect local artisans & designers directly to global customers and thereby increase their livelihood, remove middlemen, help them create/promote their brand and thereby preserve our culture, traditions and values. We believe this journey will not only help artisans but also help customers discover and buy products which they otherwise are not able to do today.
<br><br>
Experience the exquisite craftsmanship from the new age of entrepreneurs. We sincerly hope for all our customers to have an amazing experience with our super fast deliveries and policies which are very much customer oriented. 
  </p>
</div>
<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }
</style>