 <div class="causesBox">
 <h3>Cancellation and refund policy:</h3>
 <p>We will try our best to give superior services and products to our clients.
<br><br>
In case any client is not completely satisfied with our services we can provide a refund within 48 hours from the date and time of sale of the Project in digital delivery category and 48 hours from the time of receipt of product in physical delivery category . The final refunds will be made after deducting the Service Tax and the Hourly charges for the work completed by us.
<br><br>
If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of Payment Gateway, payments refund will be made to the same account.
<br><br>
For Digital delivery products cancellation can be done in 36 hours from the receipt of product and the entire amount will be refunded. For physical delivery the cancellation can't be done after the product has been shipped.
</p> 
</div>
<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }
</style>