<div class="causesBox">
  <h3>Delivery Information</h3>
  <p>
    Please be aware that the terms of delivery are to be determined and set by each individual vendor and may vary from store to store.
    <br><br> 
    Though we choose our vendors carefully and inspect each and every product before its added to our marketplace stil  Handi Craft Studio is not liable for any late, lost or stolen deliveries or if product is different from what was otherwise specified on the marketplace.
    <br><br> 
    In the case that the item you purchase was misrepresented in the image on the marketplace, please email or call us using the information provided in contact us tab so we can further look into this issue with the vendor. 
    
    For any questions or issues related to the sale or delivery of a purchase, please contact the vendor directly and we can always help to get the issue resolved
    <br><br>
Physical delivery information will be provided by delivery of physical good in 24hours from the time of purchase through email. For digital delivery of good there wont be any delivery information as the delivery will be done through email.
  </p>
</div>
<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }
</style>