<div class="causesBox">
  <h3>Faqs</h3>
  <p>
    <b>1. How do I set up a store?</b><br />
    If you are interested in signing up as a vendor on HandiCraft Studios, please check out our vendor page here.  Also note that HandiCraft Studios individually approves all of its vendors, so you set up an account, you will not be able to sell your products until your store has been verified.<br /><br />
    <b>2. How long does the marketplace account approval take?</b><br />
    Gaining approving your marketplace account may take up to one week.  Once approved, you will be able to start selling your products right away.<br /><br />
    
  </p>
  <div class="clearFix"></div>
</div>