<div class="causesBox">
  <h3>Secure Shoping</h3>
  <p>

   we are committed to ensure 100% Purchase Protection through A-to-Z Guarantee for the shopping done on sunshinestorefl.com
  </p>
</div>
<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }

  .causesBox b{
    font-size: 17px;
  }
</style>