<div class="causesBox">
  <h3>Terms And Conditions</h3>
  <h5>Since sunshinestorefl is a commercal ecomerce platform for young entrepreneurs signingup and selling their products on sunshinestorefl platform which can be both digital and physical in nature. Please read out all our mentioned policies in detail  before making a purchase.
  <br><br> 
  In case of any dispute <a href='http://www.sunshinestorefl.com'><strong>http://www.sunshinestorefl.com</strong></a> is not liable for any refunds. In case of dispute please contact your vendor directly and get a resolution for the dispute. Since <a href='http://www.sunshinestorefl.com'><strong>http://www.sunshinestorefl.com</strong></a> we just host products from our vendors and act as a payment processor for them.
  <br><br> 
  In no circumstance <a href='http://www.sunshinestorefl.com'><strong>http://www.sunshinestorefl.com</strong></a> is liable to pay for any disptute arising between a vendor of <a href='http://www.sunshinestorefl.com'><strong>http://www.sunshinestorefl.com</strong></a> and client who purchased service from http://<a href='http://www.sunshinestorefl.com'><strong>http://www.sunshinestorefl.com</strong></a>. </h5>
</div>